Gender_Bias_in_Hiring_An_Analysis_of_the_Impact_of.pdf

Figures/.$system_architecture_diagram.drawio.dtmp
thesis_project/transpara/code_context.txt
thesis_project/transpara/export_code.sh
Others/
transpara/code_context.txt
transpara/transpara_venv
transpara/node_modules

.DS_Store

transpara/code_context.txt
transpara/xai.py
transpara/nlp_data_extraction/.env
transpara/nlp_data_extraction/matching_ver3.py
transpara/nlp_data_extraction/matching_ver1.py
transpara/nlp_data_extraction/generate_fake_cv/main.py
transpara/nlp_data_extraction/main.py
transpara/resume_ranking/.env
transpara/resume_ranking/code_context.txt
*.pyc